<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/drop-in.css">
  <link rel="stylesheet" href="/css/homepage.css">

  <title>ApeBnB</title>
</head>

<body>

  <% if session[:username] %>
    <header>
      <div class="logo">
        <h1>ApeBnB</h1>
      </div>
      <nav class="navbar">
        <ul>
          <li>
            <div id="username">
              <p>
                <%= session[:username] %>
              </p>
            </div>
          </li>
          <li>
            <form action='/listing/new' method='get'>
              <button type="submit" name="Post Listing" class="button">New listing</button>
            </form>
          </li>
          <li>
            <form action='/logout' method='post'>
              <button type="submit" name="logout" class="button">Log out</button>
            </form>
          </li>
        </ul>
      </nav>
    </header>
    <% else %>
      <header id="header">
        <div class="logo">
          <h1>ApeBnB</h1>
        </div>

        <nav id="nav-bar">
          <ul>
            <li><a class="nav-link" href="/sign_up" id="Sign-up">Sign Up</a></li>
            <li><a class="nav-link" href="/login" id="Login">Login</a></li>
          </ul>
        </nav>
      </header>
      <% end %>

        <div class="hero">
          <img src="/images/ape-hero.png" alt="orangytangy">
        </div>
        <% if session[:name] %>
          <h1>Welcome to the ApeBnB family, <%=session.delete(:name)%>!</h1>
        <% end %>

        <h2 class="flash"><%=flash[:booking]%></h2>

        <div class="listing-container">
        <h1>Available listings</h1>
        <ul>
          <% Listing.all.each do |listing| %>
            <li class='listing' id="listing-<%= listing.id %>">
              <img src="../images/treemonk.jpg">
              <div class="text">
              <p><b><%=listing.title%></b>: £<%=listing.price%><br>
              <%=listing.description%></p>
              <form action='listing/<%=listing.id%>' method='get'>
                <input type='submit' value='View'>
              </form>
              </div>
            </li>
          <% end %>
        </ul>
        </div>
</body>

</html>