<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listings</title>
</head>
<body>
  <h1>Available listings</h1>
  <ul>
    <% Listing.all.each do |listing| %>
      <li class='listing' id="listing-<%= listing.id %>">
        <%=listing.title%>: £<%=listing.price%><br><%=listing.description%>
        <form action='listing/<%=listing.id%>' method='get'>
          <input type='submit' value='View' name='<%=listing.title%>'>
        </form>
      </li>
    <% end %>
  </ul>
</body>
</html>
